<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- configFragment -->
<th:block th:fragment="configFragment">
    <!-- Javascript file 예시 -->
    <script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<!--    <link rel="stylesheet" th:href="@{/css/header.css}">-->
    <script src="https://kit.fontawesome.com/18ca68d85c.js" crossorigin="anonymous"></script>

<!--    <script th:src="@{/js/main.js}"></script>-->
<!--    <script th:src="@{/js/header.js}"></script>-->

    <!--    <link rel="stylesheet" th:href="@{/css/test.css}">-->
    <!--    <script th:src="@{/js/test/test.js}"></script>-->

</th:block>

</html>